/* .container{
    border: 1px solid black;
    display:flex;
    flex-direction: row;
    width: 90%;
    justify-content: center;
    min-height: 500px;

}

.card{
    border: 1px solid black;
    width: 20%;
    height: 300px;
    margin: 30px 2px;
   
    align-items: center;
    
}

.card img{
    width: 100%;
} */


