.container{
    width: 90%;
    border: 1px solid darkgrey;
    text-align: center;
    margin: auto;

}

.card{
       width:25%;
       text-align: center;
       border: 1px solid black;
       display: inline-block;
       height: 900px;
       /* overflow: hidden; */
       vertical-align: top;
       position: relative;
     

}

h1{

    padding-top:5px;

}

img{
    width: 100%;

}
.cs{
    margin: 0 10px;
}


.footer{
    position: absolute;
    bottom: 0;
   
    background-color:black;
    color: aliceblue;
    width: 98%;
    text-align: left;
    padding: 25px 0px;
    font-size: 25px;
    padding-left:2% ;
    margin: 0;
}

h2{
    font-size: 35px;
}
p{
    font-size: 20px;
    text-align: left;
    padding: 20px;

}


